<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="music">

    <insert id="uploadMusic" parameterType="Music">
        insert into music(title, lyrics, mp3_path, img_path, genre_code, release_date, file_size, runtime, genre_code, id) VALUES (#{title}, #{lyrics}, #{mp3_path}, #{img_path}, #{genre_code}, #{release_data}, #{file_size}, #{runtime}, #{genre_code}, #{id})
    </insert>

    <select id="getAllMusic" resultType="Music">
        select music_code musicCode, title, lyrics, release_date releaseDate, mp3_path mp3Path, img_path imgPath, file_size fileSize, runtime, views, genre_code genreCode, id artist from music
    </select>

    <!-- 특정 음악 조회 -->
    <select id="getMusicById" resultType="Music">
        SELECT * FROM music WHERE music_code = #{id}
    </select>

    <select id="getReviewByMusicCode" parameterType="Integer" resultType="Review">
        select review_id reviewId, review_contents reviewContents, review_depth reviewDepth, review_regdate reviewRegdate, review_like reviewLike, parent_id parentId, id, music_code musicCode from review where music_code = #{music_code} order by review_regdate desc;
    </select>

    <insert id="uploadReview" parameterType="Review">
        insert into review(review_id, review_contents, review_depth, review_regdate, review_like, parent_id, id, music_code)
        values((select nextval('REVIEW_ID_SEQ') from dual), #{reviewContents}, 0, default,   0, null, #{id}, #{musicCode})
    </insert>

</mapper>
