<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="music">

    <update id="updateViews" parameterType="Integer">
        UPDATE Music
        SET views = views + 1
        WHERE music_code = #{musicCode}
    </update>

    <insert id="uploadMusic" parameterType="Music">
        insert into music(music_code, title, lyrics, mp3_path, img_path, genre_code, release_date, file_size, runtime, id, views)
        VALUES ((select nextval('MUSIC_CODE_SEQ') FROM dual), #{title}, #{lyrics}, #{mp3Path}, #{imgPath}, #{genreCode}, #{releaseDate}, #{fileSize}, #{runtime}, #{artist}, #{views})
    </insert>

    <select id="getAllMusic" resultType="Music">
        select music_code musicCode, title, lyrics, release_date releaseDate, mp3_path mp3Path, img_path imgPath, file_size fileSize, runtime, views, genre_code genreCode, m.id id, u.artist artist
        from music m join user u on m.id = u.id
    </select>

    <select id="getMusicById" resultType="Music">
        SELECT music_code musicCode, title, lyrics, release_date releaseDate, mp3_path mp3Path, img_path imgPath, file_size fileSize, runtime, views, genre_code genreCode, m.id id, u.artist artist, profile_img profileImg
        FROM music m join user u on m.id = u.id WHERE music_code = #{id}
    </select>

    <select id="getReviewByMusicCode" parameterType="Integer" resultType="Review">
        select review_id reviewId, review_contents reviewContents, review_depth reviewDepth, review_regdate reviewRegdate, review_like reviewLike, parent_id parentId, id, music_code musicCode from review where music_code = #{music_code} order by review_regdate desc;
    </select>

    <insert id="uploadReview" parameterType="Review">
        insert into review(review_id, review_contents, review_depth, review_regdate, review_like, parent_id, id, music_code)
        values((select nextval('REVIEW_ID_SEQ') from dual), #{reviewContents}, 0, default,   0, null, #{id}, #{musicCode})
    </insert>

    <select id="getAllMusicLatest" resultType="Music">
        select music_code musicCode, title, lyrics, release_date releaseDate, mp3_path mp3Path, img_path imgPath, file_size fileSize, runtime, views, genre_code genreCode, m.id id, u.artist artist
        from music m join user u on m.id = u.id order by release_date desc
    </select>

    <insert id="likeMusic" parameterType="Favorite">
        insert into favorite(music_code, id) values(#{musicCode}, #{id})
    </insert>

    <delete id="unlikeMusic" parameterType="Favorite">
        delete from favorite where music_code = #{musicCode} and id = #{id}
    </delete>

    <select id="isLikedMusic" parameterType="Favorite" resultType="Integer">
        select count(*) from favorite where music_code = #{musicCode} and id = #{id}
    </select>

    <select id="getImgPathByMusicCode" parameterType="Integer" resultType="String">
        SELECT img_path 
        FROM music 
        WHERE music_code = #{musicCode}
    </select>

    <!-- 정렬 쿼리 -->
    <select id="getAllMusicSorted" parameterType="string" resultType="MusicDTO">
        SELECT
            music_code musicCode,
            title,
            lyrics,
            release_date releaseDate,
            mp3_path mp3Path,
            img_path imgPath,
            file_size fileSize,
            runtime,
            views,
            genre_code genreCode,
            id artist
        FROM music
        ORDER BY
        <choose>
            <when test="sortType == 'name'">title ASC</when>
            <when test="sortType == 'date'">release_date DESC</when>
            <when test="sortType == 'views'">views DESC</when>
            <when test="sortType == 'likes'">likes DESC</when>
            <otherwise>title</otherwise>
        </choose>
    </select>

    <select id="getMusicReviewList" parameterType="Integer" resultType="Review">
        select
            review_id reviewId,
            review_contents reviewContents,
            review_depth reviewDepth,
            review_regdate reviewRegdate,
            review_like reviewLike,
            parent_id parentId,
            r.id id,
            music_code musicCode,
            u.profile_img profileImg

        from review r join user u on r.id = u.id where music_code = #{musicCode}
    </select>

    <select id="getMusicReviewCounts" parameterType="Integer" resultType="Integer">
        select count(*) reviewCounts from review where music_code = #{musicCode}
    </select>

    <select id="searchMusic" parameterType="String" resultType="Music">
        select music_code musicCode, title, lyrics, release_date releaseDate, mp3_path mp3Path, img_path imgPath, file_size fileSize, runtime, views, genre_code genreCode, m.id id, u.artist artist
        from music m join user u on m.id = u.id
        WHERE title LIKE CONCAT('%', #{query}, '%') OR u.artist LIKE CONCAT('%', #{query}, '%')
    </select>

</mapper>
