<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

    <select id="getUserById" parameterType="string" resultType="User">
        SELECT id, password, artist, role, profile_img profileImg  FROM user WHERE id = #{id}
    </select>

    <insert id="signUp" parameterType="User">
        insert into user(id, password, artist, role) VALUES (#{id}, #{password}, #{artist}, default)
    </insert>

    <update id="updateProfile" parameterType="User">
        update user
        <set>
            <if test="artist != null and artist != ''">
                artist = #{artist},
            </if>
            <if test="profileImg != null and profileImg != ''">
                profile_img = #{profileImg},
            </if>
            <if test="newId != null and newId != ''">
                id = #{newId},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getMyUploadList" parameterType="String" resultType="Music">
        SELECT * FROM music WHERE id = #{id}
    </select>

    <select id="getMyLikeList" parameterType="String">
        select * from music where music_code
          in (select music_code from favorite where id = #{id} order by like_date desc)
    </select>

    <select id="getMyPlayList" parameterType="String">
        select * from music where music_code
          in (select music_code from playlist_music where playlist_code in (select playlist_code from playlist where id = #{id}));
    </select>

    <select id="getMyReviews" parameterType="String">
        select * from music where music_code in (select music_code from review where id = #{id})
    </select>

</mapper>
